{% extends 'template.html.twig'  %}

{% block title %} 
    {{firstname}} {{name}}
{% endblock %}
{% block pageTitle %} 
    <h1>{{firstname}} {{name}}</h1>
{% endblock %}

{% block body %}    
    <p>Bonjour </p>
    Mon url absolue est : {{url('first')}}
{% endblock %}

